<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThePantry</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar-container">
            <ul class="navbar">
                <li>
                    <a asp-controller="App" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="App" asp-action="About">About</a>
                </li>
                <li>
                    <a asp-controller="App" asp-action="Mealfinder">Find Recipes</a>
                </li>
                <li>
                    <a asp-controller="App" asp-action="Contact">Contact</a>
                </li>
            </ul>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="footer-container">
            <div class="copyright-blurb">
                <p>&#169 2020 Ryan Heitmann &#8226; All rights reserved</p>
            </div>
            <div class="icon-container">
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-twitch"></ion-icon>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
