<div class="grid-container" *ngIf="availableMeals">
    <div class="card" *ngFor="let meal of availableMeals | async" (click)="onSelect(meal)" [class.selected]="meal===selectedMeal">
        <img src="../../assets/pinchofyum_elotequeso.jpeg"/>
        <div class="card-container">
            <a href="{{meal.url}}" target="_blank">
                <h4><b>{{meal.name}}</b></h4>
            </a>
            <p>{{meal.description | truncate: 145 }}</p>
            <div class="meal-ingredient-container">
                <p class="ingredient-list">Ingredients:</p>
                <div class="meal-ingredient-container">
                    <span class="ingredients" *ngFor="let ingredient of meal.ingredients">{{ingredient.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
