<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Search-result.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<div class="grid-container" *ngIf="meals">
    <div class="card" *ngFor="let meal of availableMeals | async" (click)="onSelect(meal" [class.selected]="meal===selectedMeal">
        <img />
        <div class="card-container">
            <h4><b>{{meal.name}}</b></h4>
            <p>{{meal.description}}</p>
            <div class="meal-ingredient-container">
                <p class="ingredient-list">Ingredients:</p>
                <ul class="ingredient-list">
                    <li *ngFor="let ingredient of meal.ingredients">{{ingredient.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Old Code Below
<h2>Available Meals</h2>
<ul class="meals">
    <li *ngFor="let meal of availableMeals | async" (click)="onSelect(meal)" [class.selected]="meal===selectedMeal">
        <span class="meal">{{meal.name}}</span>
    </li>
</ul>
<meal-detail [meal]="selectedMeal"></meal-detail>
-->