<div class="grid-container" *ngIf="availableMeals">
    <div class="card" *ngFor="let meal of availableMeals | async" (click)="onSelect(meal)" [class.selected]="meal===selectedMeal">
        <img />
        <div class="card-container">
            <h4><b>{{meal.name}}</b></h4>
            <p>{{meal.description}}</p>
            <div class="meal-ingredient-container">
                <p class="ingredient-list">Ingredients:</p>
                <ul class="ingredient-list">
                    <li *ngFor="let ingredient of meal.ingredients">{{ingredient.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
