html {
    height: 100%;
}

ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
    grid-row-gap: 10px;
    width: auto;
}

.card {
    display: inline;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    width: auto;
    padding: 10px;
    margin: 10px;
}

    .card h4, p {
        font-family: 'Lato', sans-serif;
        margin: 10px;
    }

    .card h4 {
        letter-spacing: 1px;
        text-decoration: underline;
        color: #444444
    }

img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredient-list {
    color: #999999;
}

/*Old code Below:*/

.meals {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
}

    .meals li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
    }

        .meals li:hover {
            color: #607D8B;
            background-color: #DDD;
            left: .1em;
        }

        .meals li.selected {
            background-color: #CFD8DC;
            color: white;
        }

            .meals li.selected:hover {
                background-color: #BBD8DC;
                color: white;
            }

    .meals .meal {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #405061;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 1.8em;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }
