<div *ngIf="meal">
    <div class="card-meal-detail">
        <img />
        <div class="card-container">
            <h4>{{meal.name | uppercase}}</h4>
        </div>
    </div>



    <h2>{{meal.name | uppercase}}</h2>
    <div>
        <p>Description</p>
        <p>{{meal.description}}</p>
        <p>Link: {{meal.url}}</p>
        <p>Thumbnail: {{meal.thumbnail}}</p>
        <p>Ingredients:</p>
        <ul>
            <li *ngFor="let ingredient of meal.ingredients">
                <p>{{ingredient.name}}</p>
            </li>
        </ul>
    </div>
</div>