<h2>About Us</h2>
<p>The number one factor for losing weight is eating less. Outworking your food intake is possible, but incredibly difficult.</p>
<p>There are hundred of Calorie Intake Calculators available, and every person has varying calorie needs based on size, activity, and metabolism.</p>
<p>If you've ever been stuck asking yourself "Ok, I can eat X calories a day, how much do I eat per meal?", then this is a resource for you.</p>
<p>We're here to help you convert a number to a plate of food.</p>