<div class="about-bg-image">
    <div class="banner-container">
        <h2>About The Pantry</h2>
    </div>
    <div class="about-text-container">
        <p>The Pantry enables you to find meals based on ingredients - Whether it's ingredients you're buying, ingredients that are currently sitting in your pantry, or simply your favorite ingredients!</p>
        <p>We offer a carefully curated list of recipes from websites and blogs that we've used and trust. You aren't going to find 200,000 meals here, but the meals you do find will be high quality and delicious.</p>
        <p>How do you use The Pantry? Simply type in your ingredients into the search bar, and separate your ingredients with commas. If there is a specific ingredient you don't want in your meal, then put a '-' in front of the ingredient you want excluded. For example, I want to find a recipe for a dish that contains onions and garlic, but let's pretend I hate mushrooms. I would put the following into the search bar: onion, garlic, -mushroom</p>
    </div>
</div>
