@{
    ViewBag.Title = "API";

}
@section Scripts {
    <link href="~/clientapp/styles.css" rel="stylesheet" />
}

<div class="api-container">
    <h2>The Pantry API</h2>
    <p>The Pantry provies a public API. Query The Pantry with ingredients using your query string pattern, and we will return recipes in JSON format</p>
    <p>For example:</p>
    <p>http://www.thepantry.kitchen/</p>
</div>
