@{
    ViewBag.Title = "API";

}
@section Scripts {
    <link href="~/clientapp/styles.css" rel="stylesheet" />
}

<div class="about-bg-image">
    <div class="banner-container">
        <h2>Our API</h2>
    </div>
    <div class="about-text-container">
        <p>The Pantry provides free use of its public API.<br>
        Querying the API is simple, and it will return recipes in JSON format.<br>Refer to the box below for access to the API as well as some instructions.</p>
        <div class="api-instructions">
            <p>http://wwww.the-pantry.azurewebsites.com/<br>api/mealfinder/include?ingr=</p>
        </div>
    </div>
</div>