@{ 
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>The Pantry</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">What's In Your Pantry?</h1>
        <p class="lead">A resource to help you with meal prepping and weight loss</p>
        <hr class="my-4" />
        <p>This is a website to assist people with translating their Total Daily Calories into individual meals.</p>
        <p>It's easy to find out how many calories to eat. The hard part is to translate a number into a plate of food.</p>
        <p>We're here to help you on your journey.</p>
    </div>
    <div class="col-md-3">Test</div>
</body>
</html>