@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/clientapp/runtime-es2015.js"></script>
    <script src="~/clientapp/polyfills-es2015.js"></script>
    <link href="~/clientapp/styles.css" rel="stylesheet" />
    <script src="~/clientapp/vendor-es2015.js"></script>
    <script src="~/clientapp/main-es2015.js"></script>
}

<div class="index-bg-image">
        <div class="banner-container">
            <h2>What's in your Pantry?</h2>
        </div>
        <div class="recipe-app-container">
            <app-root></app-root>
        </div>
</div>
