@model IEnumerable<Meal>

<h1>Meals</h1>
<p>Count: @Model.Count()</p>
@foreach (var p in Model)
{
    <li>@p.Name</li>
}

<div>
    <form>
        <h3>Add a meal</h3>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
        <label for="description">Description</label>
        <input type="text" id="description" name="description" />
        <label for="instructions">Instructions</label>
        <input type="text" id="instructions" name="instructions" />
        <input type="submit" name="submit" value="submit" />
    </form>
</div>
