@page

<form action="/api/mealfinder/include" name="ingredients" method="GET">
    <div class="form-group">
        <label for="IngredientInput">Enter Ingredients<br />(Separated by Comma)</label>
        <input name="ingr" class="form-control" id="IngredientInput" rows="3"></input>
        <button>Submit</button>
    </div>
</form>

