@model PantryViewModel

<h1>My Pantry</h1>
<h3>@Model.Username</h3>

<div class="container">
    <div class="row">
        @foreach (var p in Model.Ingredients)
        {
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@p.Ingredient.Name</h5>
                        <a href="#" class="btn btn-primary">Edit Ingredient</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<a href="/mealcreator" class="btn btn-primary">Add A Meal</a>