.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;

    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
    overflow-y: auto;
}

    .search-result li:hover {
        background-color: white;
    }

    .search-result li a {
        color: #888;
        display: block;
        text-decoration: none;
    }

        .search-result li a:hover {
            color: white;
            background-color: #C2C2C2;
        }

        .search-result li a:active {
            color: white;
        }

.search-result-container {
    position: absolute;
}

#search-box {
    width: 600px;
    height: 30px;
}


ul.search-result {
    margin-top: 0;
    padding-left: 0;
}
