
<div id="search component">
    <h4><label for="search-box">Meal Finder</label></h4>
    <input type="text" #searchBox [ngModel]="queryString" (ngModelChange)="queryString=$event" id="search-box" (input)="search(searchBox.value)"/>

    <ul class="search-result">
        <li *ngFor="let ingredient of ingredients$ | async">
            <a #ingredientResult (click)="selectIngredient(ingredientResult.innerText)">{{ingredient.name}}</a>
        </li>
    </ul>
    <button type="submit" (click)="searchMeals()">Search</button>
</div>
<div class="meal-search-results">
    <h2>Available Meals:</h2>
    <ul class="meal-search-results">
        <li *ngFor="let meal of meals$ | async">
            <p>{{meal.name}}</p>
        </li>
    </ul>
</div>