ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.meal-finder-container {
    display: grid;
    grid-template-columns: 'auto auto auto auto auto';
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: auto;
}

.search-bar-heading-container > h4 {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 10px rgba(0,0,0,1);
    margin: 0;
}

.search-bar-heading-container {
    grid-area: 1 / 2 / 1 / 4;
    margin: 10px 0px 0px 0px
}

.search-bar-container {
    grid-area: 2 / 2 / 2 / 4;
    position: relative;
}

.search-bar {
    width: 100%;
    height: 25px;
    font-size: 15px;
    color: #5c5c5c;
    letter-spacing: 1px;
    border-radius: 5px;
    border-width: 0px;
}
    .search-bar:focus {
        outline-color: #6b8fc9;
    }

.search-button-container {
    grid-area: 2 / 4 / 2 / 4;
    padding: 0px 0px 0px 10px;
}

.search-button {
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    color: #fff;
    background-color: #3EAED9;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #9F9F9F;
    border-radius: 4px;
    cursor: pointer;
}

    .search-button:hover {
        background-color: #33B5E6;
        border: 1px solid #fff;
    }
    .search-button:active {
        background-color: #FBDA8C;
        color: #fff;
        border: 1px solid #fff;
    }

.search-results-container {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border: solid;
    border-color: #5c5c5c;
    border-width: 1px;
}

.search-result-list {
    width: 100%;
    list-style-type: none;
}

.search-result-list li a {
    display: block;
    border: 2px;
    color: #5c5c5c;
    font-size: 15px;
    letter-spacing: 1px;
}

    .search-result-list a:hover {
        background-color: cornflowerblue;
        color: #fff;
        cursor: default;
    }

active-ingredients {
    position: static;
    grid-area: 3 / 2 / 3 / 4;
}

.no-meals-container {
    background-color: #FFDDDD;
    border: 2px solid #FFB3B3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.no-meals-container h2, p{
    color: dimgrey;
    padding: 5px 20px;
}

