
.index-bg-image{
    position: fixed;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.3), rgba(0,0,0,0)), url("brooke-lark-kXQ3J7_2fpc-unsplash.jpg") no-repeat;
    background-size: cover;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner-container {
    margin: 120px auto 25px auto;
}

    .banner-container h2 {
        font-size: 80px;
        font-family: 'Amatic SC', cursive;
        letter-spacing: 2.5px;
        text-align: center;
        color: #ffffff;
        text-shadow: 0px 1px 10px rgba(0,0,0,.34);
        margin: 0px;
    }

.recipe-app-container {
    margin: 100px;
}

header {
    width: auto;
}

/*Navbar Styles*/
.navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.navbar {
    padding: 10px 15px;
    backdrop-filter: blur(6px);
    margin: 0px;
}

    .navbar li {
        list-style-type: none;
        display: inline;
        padding: 15px;
    }

        .navbar li a {
            font-size: 19px;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1.5px;
            color: #f1f1f1;
        }

/*Footer Styles*/
.footer {
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 2;
}

.copyright-blurb {
}

    .copyright-blurb > p {
        color: #798E64;
        padding: 5px;
        margin: 3px 0px 3px 8px;
    }

.icon-container {
    margin: 3px 15px 3px auto;
}

    .icon-container > ion-icon {
        font-size: 22px;
        color: #798E64;
        padding: 0px 8px;
    }

/*About Styles*/
.about-bg-image {
    position: fixed;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.4), rgba(0,0,0,0)), url("pexels-lukas-616484.jpg") no-repeat;
    background-size: cover;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.about-text-container {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 10px rgba(0,0,0,1);
    margin: 2em 12em;
}
.about-text-container p {
    padding: 0 3em;
}
