html {
    line-height: 1.5;
    height: 100%;
}

ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.index-bg-image{
    background: linear-gradient(to bottom, rgba(0,0,0, 0.3), rgba(0,0,0,0)), url("brooke-lark-kXQ3J7_2fpc-unsplash.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0px;
    min-width: 200px;
}

.banner-container {
    margin: 120px 20px 25px 20px;
}

    .banner-container h2 {
        font-size: 80px;
        font-family: 'Amatic SC', cursive;
        letter-spacing: 2.5px;
        text-align: center;
        color: #ffffff;
        text-shadow: 0px 1px 10px rgba(0,0,0,.34);
        margin: 0px;
    }

header {
    width: auto;
}

/*Navbar Styles*/
.navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.navbar {
    padding: 10px 15px;
    backdrop-filter: blur(6px);
    margin: 0px;
}

    .navbar li {
        list-style-type: none;
        display: inline;
        padding: 15px;
    }

        .navbar li a {
            font-size: 19px;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1.5px;
            color: #f1f1f1;
        }

/*Footer Styles*/
.footer {
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(6px);
}

.copyright-blurb {
}

    .copyright-blurb > p {
        color: #798E64;
        padding: 5px;
        margin: 3px 0px 3px 8px;
    }

.icon-container {
    margin-left: auto;
}

    .icon-container > ion-icon {
        font-size: 22px;
        color: #798E64;
        margin: 0px 8px;
    }
