.invalid-ingredient-container {
    background-color: #FFDDDD;
    border: 2px solid #FFB3B3;
    padding: 0;
    margin: 0;
    height: 22px;
}
.invalid-ingredient-container > p {
    color: dimgrey;
    margin: 0;
    padding: 0;
}

.invalid-ingredient:first-child:empty ~ .invalid-ingredient:not(:empty) {
    margin-left: 0;
}

    .invalid-ingredient:first-child:empty ~ .invalid-ingredient:not(:empty) ~ .invalid-ingredient:not(:empty) {
        margin-left: -.3em;
    }

.invalid-ingredient:empty {
    display: none;
}

.invalid-ingredient:not(:first-child):before {
    content: ", ";
}

.invalid-ingredient:empty + .invalid-ingredient:not(:empty):before {
    content: "";
}

.invalid-ingredient:not(:empty) ~ .invalid-ingredient:empty + .invalid-ingredient:not(:empty):before {
    content: ", ";
}
