.active-ingredients {
    width: 100%;
    margin: 15px 5px;
}
    .active-ingredients > a {
        display: inline;
        font-size: 14px;
        border: 2px;
        border-radius: 5px;
        border-style: solid;
        color: green;
        background-color: rgb(256,256,256,.5);
        padding: 2px 20px 2px 6px;
        margin: 1px 2px;
    }
        .active-ingredients > a:hover {
            color: red;
            background-color: rgb(256,175,175,.5);
        }
